# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Java temporary files
*.tmp

# Maven
target/

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.c9/
.settings/
bin/
tmp/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.bak
*.orig

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
